* {
  margin: 0;
  padding: 0;
}

body {
  font-size: "Open Sans";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.padding-md {
  padding-left: 5px;
  padding-right: 5px;
}

.review_top {
  width: 100%;
  height: 50px;
  background: #EBEBEB;
}

.review_top section {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  font-size: 14px;
}

span._5_star i.fa {
  padding: 2px;
  margin: auto 1px;
}

.big_star i.fa {
  font-size: 18px;
}

.bg_lime i.fa {
  color: #fff;
  background: limegreen;
}

.bg_yellow i.fa {
  color: yellow;
}

.review_top section ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.review_top section ul li {
  margin: 0 8px;
}

.review_top section ul img {
  width: 27px;
}

.introduce {
  padding-top: 20px;
}

.button {
  padding: 10px 30px;
  background: #28BEF3;
  color: #fff;
  font-weight: 400;
  border-radius: 5px;
}

.future {
  margin-top: 50px;
}

.list_guide {
  margin-top: 50px;
}

.card {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card__img-top img {
  width: 100%;
  height: auto;
}

.card__img-top span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 15px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
}

.card_padding {
  padding: 20px;
}

.card_title {
  margin-bottom: 10px;
  font-size: 14px;
}

.card_title a {
  color: #000;
}

.card_padding {
  padding: 20px;
}

.card-body div {
  margin-bottom: 2px;
}
.card-body div img {
  width: 15px;
}

.card-body div span {
  font-style: italic;
  font-size: 12px;
  color: #636e72;
}

.card_action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-hover-img {
  position: relative;
}

.card-hover-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background: rgba(223, 233, 213, 0.4);
  transition: 0.5s;
}

.card-hover-img::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 0%;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
}

.card-hover-img:hover:before, .card-hover-img:hover:after {
  width: 100%;
  height: 100%;
}

.list_national {
  margin-top: 50px;
  height: 100vh;
  overflow-y: hidden;
}

h4.name_country {
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 30px;
  margin-bottom: 0;
  margin-top: 40px;
  border-bottom: 0.5px solid #A1A1A1;
}

.tab_list {
  margin-top: 40px;
  display: flex;
}

.tab_list .tabs_control {
  width: 20%;
  height: auto;
}
.tab_list .tabs_control ul {
  display: block;
}
.tab_list .tabs_control li {
  margin-bottom: 16px;
}
.tab_list .tabs_control li a {
  color: #929292;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
.tab_list .tabs_control li a:focus {
  color: #000;
}

.tab_list .tabs_show {
  width: 80%;
  margin-left: 40px;
  display: block;
  position: relative;
}
.tab_list .tabs_show .tab_item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}
.tab_list .tabs_show .active-tab {
  display: block;
}

.img_mid {
  width: 100%;
  margin: 40px 0 30px;
}
.img_mid img {
  width: 100%;
  object-fit: cover;
}

.next_page {
  padding: 40px 0;
  text-align: center;
}

.rate_header {
  text-align: center;
}
.rate_header h2.title_rate {
  font-size: 36px;
  font-weight: 400;
  margin-top: 20px;
}
.rate_header > div {
  margin-bottom: 20px;
}
.rate_header > div span.quantity {
  font-size: 18px;
  font-weight: 500;
}

.box_R {
  margin-bottom: 30px;
}

.box_rate {
  width: 100%;
  height: auto;
}
.box_rate h4.title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #0056b3;
}
.box_rate p.rate_content {
  font-size: 14px;
  font-family: sans-serif;
  font-style: italic;
}
.box_rate .user_rate {
  font-size: 14px;
  font-weight: 600;
}

/*# sourceMappingURL=page3.css.map */
